<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3><a href="/">ALL ESSAYS</a></h3>
                    <ul>
                        <li><a href="/phenomenology.html">Phenomenology</a></li>
                        <li><a href="/squatting.html">Squatting</a></li>
                        <li><a href="#">Paediatric drug regulation</a></li>
                        <li><a href="#">Eudaimonia</a></li>
                        <li><a href="#">DIY medicine</a></li>
                        <li><a href="#">Whole-genome dating</a></li>
                        <li><a href="#">Reductionism</a></li>
                        <li><a href="#">Consequentialism</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3><a href="/about.html">ABOUT</a></h3>
                </div>
            </div>
        </div>
    </footer>
</div>
