<header class="row">
    <div class="columns">
      <a href="/"><div class="website-name">Kasper Blom</div></a>
      <div class="tagline">Essays on philosophy, bioethics and health</div>
      <nav>
        <ul>
          <li><a href="/">Essays</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

<script>
    //set Active link according to pages
    var origin = window.location.origin;
    var page_location = window.location.href.replace(origin + '/', '').trim();
    // console.log(page_location);
    $('.navbar_links a[href*="' + page_location + '"]').addClass('active').siblings().removeClass('active');
    
    if (page_location == "" || null) {
        $('.navbar_links a[href="/"]').addClass('active').siblings().removeClass('active');
    }
</script>
